body{
    margin: 0;
    padding: 0;
}
div{
    background-color: cornflowerblue;
    height:120px;
    margin-bottom: 15px;
    width: 150px;
}
.relative{
    position: relative;
    
}
.Absolute{
    background-color: brown;
   
}
.fixed{
    position: fixed;
    background-color: aqua;
    left: 80%;
}
.static{
    position: static;
    left: 20px;
}